body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #00ff8c; /* Web sayfasının arka plan rengi */
    color: #000000; /* Metin rengi */
}

h1 {
    color: #ff0000; /* Başlık rengi */
    font-size: 70px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

p {
    border: 16px dotted saddlebrown;
    background-color: palegoldenrod;
    color:blue;
    font-size: 48px;

}